[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack
[submodule "public"]
	path = public
	url = https://github.com/Mx64/mx64.github.io.git
	branch = main
